!pip install scipy scikit-image cupy-cuda100
!pip install --upgrade "jax[cuda12_pip]" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
!pip install jax jaxlib
!pip install mahotas

import glob
import numpy as np
from jax import jit
import jax
import jax.numpy as jnp
import cv2  # Note: OpenCV still uses numpy arrays
import mahotas
import os
import shutil
from mahotas.features import zernike_moments
from scipy.stats import skew
from skimage.color import rgb2gray
import skimage.io
import pandas as pd
from jax import ops
